html {
    overflow-x: hidden;
}

h2, h3 {
    margin: 10px;
    font-size: 18px;
}

h3 {
    font-size: 16px;
}

p {
    margin: 10px;
}


#map {
    width: 100% !important;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
}
#main {
    transition: margin-left 0.5s ease-in-out;
}

.sidebar-closed #main {
    margin-left: 0 !important; /* Keep the map in place when the sidebar is closed */
}



.map-overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    background: rgba(255, 255, 255, 0.8);
    border-style: solid;
    border-width: 1px;
    border-color: rgba(0, 0, 0, 0.2);
    margin-left: 20px;
    font-family: Arial, sans-serif;
    overflow: auto;
    border-radius: 3px;
}

#features {
    left: 550px;
    top: 50px;
    height: 130px;
    margin-top: 20px;
    width: 350px;
}

.mapboxgl-canvas-container.mapboxgl-interactive,
.mapboxgl-ctrl-group button.mapboxgl-ctrl-compass {
    cursor: unset;
}

.sidebar {
    font-family: Arial, sans-serif;
    height: 100%;
    width: 400px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #4b2e83;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    display: flex;
    flex-direction: column;
}

.sidebar h1, .sidebar h2, .sidebar p, .sidebar h3 {
    padding: 2px 50px 2px 32px;
    text-decoration: none;
    color: white;
    display: block;
}

.sidebar .closebtn {
    position: absolute;
    top: 10px;
    right: 25px;
    font-size: 36px;
    color: #b7a37d;
    background: none;
    border: none;
    cursor: pointer;
    font-size: 28px;
}

.openbtn {
    font-size: 32px;
    cursor: pointer;
    background: none;
    color: #b7a37d;
    padding: 10px 15px;
    border: none;
    position: absolute;
    top: 10px;
    left: 10px;
    transition: color 0.3s;
}

.openbtn:hover {
    color: white;
    text-shadow: 0 0 2px #85754d, 0 0 5px #85754d, 0 0 10px #85754d, 0 0 15px #e8e3d3
}

#main, #features, #map {
    transition: margin-left .5s;
}

/* legend styling */
#legend {
    position: absolute;
    bottom: 20px;
    left: 450px;
    background: rgba(255, 255, 255, 0.9);
    padding: 10px 15px;
    margin-bottom: 0px;
    margin-right: 10px;
    border-radius: 4px;
    max-height: 300px;
    overflow-y: auto;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
    font-family: Arial, sans-serif;
    max-width: 250px;
    z-index: 1000;
    transition: margin-left .5s;
}

.legend-title {
    font-weight: bold;
    margin-bottom: 10px;
    font-size: 16px;
    border-bottom: 1px solid #ddd;
    padding-bottom: 5px;
}

.legend-section {
    margin-bottom: 15px;
}

.legend-section h3 {
    margin: 0 0 8px 0;
    font-size: 14px;
    padding-bottom: 5px;
    color: #333;
}

.legend-item {
    display: flex;
    align-items: center;
    margin-bottom: 8px;
}

.legend-key {
    display: inline-block;
    width: 12px;
    height: 12px;
    margin-right: 10px;
    border-radius: 50%;
    border: 1px solid rgba(0,0,0,0.1);
}

.filter-toggles button {
    font-size: 28px;
    background: none;
    border: none;
    color: #b7a37d;
    transition: color 0.3s;
    cursor: pointer;
}

.filter-toggles button:hover, .closebtn:hover {
    color: #e8e3d3;
}

#navigateMe {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 10px 15px;
  background: #007AFF;
  color: white;
  font-size: 14px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
}

#instructions {
  position: absolute;
  right: 10px;
  top: 60px;
  width: 25vw;
  height: 100%;
  background: #4b2e83;
  padding: 15px;
  overflow-y: auto;
  font-family: Arial, sans-serif;
  box-shadow: -2px 0px 5px rgba(0, 0, 0, 0.2);
  display: none; /* Hidden by default */
}

.emergency-call {
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background: radial-gradient(circle, red 2%, yellow 70%);
    border: 1px solid black;
  }


/* For screens 768px or smaller (Tablet size) */
@media screen and (max-width: 768px) {
    #legend {
        left: 10px;
        bottom: 10px;
        max-width: 160px;
        padding: 6px;
        font-size: 12px;
    }

    .legend-title {
        font-size: 14px;
    }

    .legend-section h3 {
        font-size: 12px;
    }

    .legend-item {
        margin-bottom: 5px;
    }

    .legend-key {
        width: 10px;
        height: 10px;
    }
}

/* For screens 480px or smaller (Mobile size) */
@media screen and (max-width: 480px) {
    #legend {
        left: 5px;
        bottom: 5px;
        max-width: 120px;
        padding: 4px;
        font-size: 10px;
    }

    .legend-title {
        font-size: 12px;
    }

    .legend-section h3 {
        font-size: 10px;
    }

    .legend-item {
        margin-bottom: 3px;
    }

    .legend-key {
        width: 8px;
        height: 8px;
    }
}
